<!-- Describe task in general -->

<p style="text-align: justify;">
    Un système d'information géographique informatisé représente le profil d'une montagne par une séquence de nombres entiers, où deux nombres consécutifs ne sont pas identiques. 
    Un sommet est détecté par trois nombres consécutifs dont celui du milieu est plus grand que les deux autres ou par deux nombres consécutifs à l'extrémité gauche/droite d'une séquence dont le nombre le plus grand est celui de gauche/droite.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}check-peaks.svg" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    Votre programme doit analyser cette séquence pour déterminer si la montagne représentée a plus d'un sommet (retournez <code>{% if is_js %}t{% else %}T{% endif %}rue</code>). S'il n'y a pas assez de données ou s'il n'y a qu'un seul sommet - retour <code>{% if is_js %}f{% else %}F{% endif %}alse</code>. 
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> {% if is_js %}Tableau{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> d'entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Valeur logique <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
